<footer class="footer" id="footer">
    <div class="footer__container container">
        <div class="footer__copyright">© 2018 «LoremIpsum.net» Все права защищены.</div>
        <div class="footer__payment payment">
            <a href="https://qiwi.com" class="payment__item">
                <svg><use xlink:href="img/sprite.svg#i-qiwi"></use></svg>
                Qiwi wallet
            </a>
            <a href="https://yoomoney.ru" class="payment__item">
                <svg><use xlink:href="img/sprite.svg#i-yandex"></use></svg>
                Yandex Money
            </a>
            <a href="https://www.webmoney.ru/" class="payment__item">
                <svg><use xlink:href="img/sprite.svg#i-wm"></use></svg>
                Web Money
            </a>
        </div>
        <div class="footer__contact contact">
            <a href="mailto:info@ipsum228.com" class="contact__item contact__mail">
                <svg><use xlink:href="img/sprite.svg#i-mail-male"></use></svg>
                info@ipsum228.com
            </a>
            <a href="https://vk.com/" class="contact__item contact__mail">
                <svg><use xlink:href="img/sprite.svg#i-vk"></use></svg>
                Мы вконтакте
            </a>
        </div>
    </div>
</footer>