@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ralewayextrabold.woff), url(../fonts/ralewayextrabold.woff2);
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/latoregular.woff), url(../fonts/latoregular.woff2);
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/latosemibold.woff), url(../fonts/latosemibold.woff2);
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/latobold.woff), url(../fonts/latobold.woff2);
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/latoheavy.woff), url(../fonts/latoheavy.woff2);
}