.header {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: $black1;
    padding: 32px 0;

    @media screen and ($phone) {
        padding: 16px 0;
    }

    &.active::before {
        content: '';
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black1;
    }
    
    &__container {
        @include flex(center, space-between);
    }

    &__logo {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;
        color: $white;

        @media screen and ($small) {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__logo span {
        color: $blue1;
    }

    &__nav {
        @media screen and ($phone) {
            position: fixed;
            top: 0;
            right: -100%;
            @include flex(start, start);
            flex-direction: column;
            max-width: 40%;
            width: 100%;
            height: 100%;
            background-color: $white;
            padding: 70px 40px 40px;
            transition: .3s;

            &.active {
                right: 0;
            }
        }
        @media screen and ($small) {
            max-width: 100%;
        }
    }
    &__nav a {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: $white;
        margin: 0 30px;
        transition: .3s;
        
        @media screen and ($tablet) {
            margin: 0 20px;
        }
        @media screen and ($phone) {
            color: $black2;
            margin: 10px 0;
        }

        &:first-child {
            margin: 0 30px 0 0;
            
            @media screen and ($tablet) {
                margin: 0 20px 0 0;
            }
            @media screen and ($phone) {
                margin: 0 0 10px 0;
            }
        }
        &:last-child {
            margin: 0 0 0 30px;
            
            @media screen and ($tablet) {
                margin: 0 0 0 20px;
            }
            @media screen and ($phone) {
                margin: 10px 0 0 0;
            }
        }
        
        &:hover,
        &:focus {
            color: $blue2;
            
            @media screen and ($tablet) {
                color: $white;
            }
            @media screen and ($phone) {
                color: $black2;
            }
        }
    }
    &__nav a.active {
        color: $blue2;
        pointer-events: none;
    }
    &__nav-mob {
        position: relative;
        display: none;
        width: 35px;
        height: 35px;
        background-color: $white;
        border-radius: 50%;
        transition: .3s;

        @media screen and ($phone) {
            display: block;
        }
    }
    &__nav-mob::before,
    &__nav-mob::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: $black2;
        border-radius: 2px;
    }
    &__nav-mob.active {
        background-color: $blue2;
        transition: background-color .3s .3s ease-out;
    }
    &__nav-mob::before {
        top: 40%;
        transform: translate(-50%, -50%);
        transition: .3s;
    }
    &__nav-mob::after {
        top: 60%;
        transform: translate(-50%, -50%);
        transition: .3s;
    }
    &__nav-mob.active::before {
        top: 50%;
        background-color: $white;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: .3s .3s ease-out;
    }
    &__nav-mob.active::after {
        top: 50%;
        background-color: $white;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: .3s .3s ease-out;
    }
}