$white: #FFFFFF;
$blue1: #42A9ED;
$blue2: #43ABF0;
$blue3: #3E9CDC;
$blue4: #286690;
$blue5: #3A3C4C;
$blue6: #3D4050;
$black0: #000000;
$black1: rgba(16, 16, 29, 0.9);
$black2: #272733;
$black3: #2A2B30;
$gray1: #6F6D7B;
$gray2: #BBBBBB;
$gray3: #DEDEE0;
$gray4: #BEBEC1;
$gray5: #C3C3C3;
$red: #F54953;

$large: 'max-width: 1250px';
$tablet: 'max-width: 1024px';
$phone: 'max-width: 768px';
$small: 'max-width: 500px';